html{
    font-size: 62.25%;
}

.overlay{
    background-image: linear-gradient(to right, #09052f, #311d5e);
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.85;
}

/*--------------------------
    HEADER
---------------------------*/

/*--------------------------
    EXPRETISE
---------------------------*/

/*--------------------------
    WORKS
---------------------------*/

/*--------------------------
    CONTACT
---------------------------*/

/*--------------------------
    FOOTER
---------------------------*/
