html{
    font-size: 62.25%;
}

body{
    font-family: 'Roboto';
    background-color: white;
    color: #13112b;
}

.overlay{
    background-color: #00093b;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.overlay-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    position: absolute;
    height: inherit;
}


h2{
    font-weight: 300;
    font-size: 1.6rem;
    padding-top: 6rem;
}

h2:after{
    text-align: center;
    display: block;
    margin: 2rem auto;

    content: "";
    height: 0.2rem;
    width: 4rem;
    background-color: #22eab8;
}

h2 + p{
    font-weight: 300;
    font-size: 2.5rem;
    padding-bottom: 6rem;

    text-transform: uppercase;
}

h2.white{
    color: white;
}

h3{
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.4rem;

    margin: 0;
}

h3 + p{
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;

    margin-top: 2rem;

    padding-left: 3.25rem;
    padding-right: 3.25rem;

}

h3.pink{
    color: #fe4565;
}

h3 + p.white{
    color: rgba(255, 255, 255, 0.4);
}


/*--------------------------
    NAV
---------------------------*/

.navbar-inverse{
    background-color: transparent;
    border: none;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.navbar-inverse .navbar-nav{
    padding: 3.8rem 0;
}

.navbar-inverse .navbar-nav li a{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.028rem;
    color: white;
}

.navbar-right .special{
    display: inline-block;
    background-color: #ff4081;
    border-radius: 0.5rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    box-shadow: 0 0 3.5rem rgba(255,64,129,0.25);
}

.navbar-inverse  .navbar-right a.special:hover{
    background-color: #ff4081;
}    

/*--------------------------
    HEADER
---------------------------*/
header{
    padding-top:25rem;
    padding-bottom: 11rem;

    background-color: #1c33b0;    
    height: 100%;
    position: relative;
    color: white;
}

header .background-image{
    position: absolute;
    left: 50%; top:0;
    width: 50%;
    
    background-image: url(../images/header_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: inherit;
}

header h1{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4.6rem;
}

header .slogan{
    margin-top: 4.5rem;

    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.6rem;
}

header .slider{
    margin-top: 9.5rem;
}

header .slider .col-sm-6{
    margin: 0;
    padding: 0;
}

header .slider .btns{
    background-color: #ff4081;
    font-size: 6rem;
}    

header .slider .btns p{
    line-height: 5rem;
    padding-top: 3.5rem;
    padding-left: 3.5rem;
}

header .slider .btns nav{
    text-align: right;
}

header .slider .btns nav a{
    margin-right: 3rem;
}    

header .slider .content{
    background-color: gray;
    overflow: hidden;
    height: 17.886rem;
    
}    

header .slider .content img{
    height: 25rem;
}    

/*--------------------------
    TABS
---------------------------*/

main .tabs{
    overflow: hidden;
    padding: 6.0rem 0;

    position: relative;
}

main .tabs img{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}    


main .tabs .select{
    position: relative;
}

main .tabs .select:before{
    display: block;
    content: "";
    z-index: -1;
    position: absolute;
    width: 29rem;
    height: 29rem;
    background-color: #22eab8;
    border-radius: 50%;
    margin: 0 auto;
    top: -15rem;
    left: 0; right: 0;
    box-shadow: 0 0 3.5rem rgba(34,234,184,0.25);
}

/*--------------------------
    WEBSITE DESIGN
---------------------------*/

#website-design{
    background-color: #1f1d3d;
    color: white;
    height: 100%;
    position: relative;

    padding-bottom: 9rem;
}

.design{
    background-image: url('../images/website_image.png');
}

#website-design figure{
    padding-top: 3em;

    height: 27rem;
    margin-bottom: 1rem;
    
}

#website-design figure.select{
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3.5rem rgba(0,0,0,0.25);
}    

#website-design figure img{
    height: 6.5rem;
    margin-bottom: 3rem;
}    

/*--------------------------
    ABOUT US
---------------------------*/

#about-us{
    margin-bottom: 7rem;
}

#about-us .number{
    font-weight: 300;
    font-size: 6rem;
    letter-spacing: -0.078rem;

    margin-top: 2rem;
}

/*--------------------------
    OUR BENEFITS
---------------------------*/
#our-benefits{
    background-color: #1f1d3d;
    color: white;
    height: 100%;
    position: relative;

    padding-bottom: 8.5rem;
}

.benefits{
    background-image: url('../images/benefits_image.png');
    background-position-y: 50%;
}

#our-benefits .benefits-img{
    width: 11rem;
    height: 11rem;
    margin-left: 1rem;

    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
}

#our-benefits .benefits-img img{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
}    

#our-benefits .benefits-img.select{
    background-color:#fe4565;
    box-shadow: 0 0 3.5rem rgba(254,69,101,0.25);
}

#our-benefits .benefits-img.select img{
    opacity: 1;
}    

#our-benefits figure .benefits-img{
    display:inline-block;
}

#our-benefits figure p{
    padding: 0 7.5rem;
    margin-top: 6rem;
    font-size: 3rem;
}

/*--------------------------
    CLIENTS
---------------------------*/
main .clients{
    padding: 6.0rem 0;

    position: relative;
}

/*--------------------------
    TESTIMONIALS
---------------------------*/
#testimonials{
    background-color: #1f1d3d;
    color: white;
    height: 100%;
    position: relative;

    padding-bottom: 8rem;
}

.testi{
    background-image: url('../images/clients_image.png');
    background-position-y: 75%;
}

#testimonials blockquote{
    background-color: rgba(255,255,255,0.05);
    height: 21rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-top: 3.5rem;
    
    border: none;
    font-weight: 300;
    font-size: 2rem;
    font-style: italic;
    line-height: 2.9rem;

}    

#testimonials blockquote:before{
    display: block;
    position: absolute;
    content: "";
    width: 5rem;
    height: 5rem;
    /* background-color: red; */
    background-image: url('../images/round_triangle.png');
    background-size: 100%;
    background-repeat: no-repeat;
    top: 21rem;
    left: 44.5%;
}    

#testimonials .quote:nth-child(1) blockquote{
    border-top: 0.4rem solid #50c05f;
}    

#testimonials .quote:nth-child(2) blockquote{
    border-top: 0.4rem solid #00bbd3;
}    

#testimonials .quote:nth-child(3) blockquote{
    border-top: 0.4rem solid #fe4565;
}    

#testimonials figure{
    margin-top: 4.5rem;
}    

#testimonials figure img{
    border-radius: 90%;
}

#testimonials figure figcaption h3{
    margin-top: 1.2rem;
}    

#testimonials figure figcaption p{
    font-size: 1.3rem;
    font-style: italic;
    color: rgba(255, 255, 255, 0.54);
    margin-top: 0.5rem;
}    

#testimonials ul{
    margin-top: 6rem;
    list-style-type: none;
    padding: 0;
}
#testimonials ul li{
    display: inline-block;
}    

#testimonials ul li a{
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 90%;

    margin: 0 0.5rem; 
}    

#testimonials ul li a.select{
    background-color: rgba(255, 255, 255, 1);
}    

/*--------------------------
    CONTACT US
---------------------------*/

#contact-us{
    margin-bottom: 7.5rem;
}

#contact-us article p{
    font-weight: 300;
    font-size: 1.8rem;
}

#contact-us form{
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #eeeeee;
}

#contact-us form input{
    outline: none;
    border: none;

}

#contact-us form input[type=text]{
    font-weight: 300;
    font-size: 3rem;
    width: 89%;

}    

#contact-us form input[type=text]::placeholder{
    color: #cccccc;

}    

#contact-us form input[type=submit]{

    width: 9%;
    background-color: transparent;
    background-image: url(../images/message.png);
    background-repeat: no-repeat;    
    background-position-x: 100%;
}

/*--------------------------
    FOOTER
---------------------------*/

footer{
    background-color: #13112b;
    color: white;
    padding-top: 8rem;
}

footer h4{
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
}

footer h4:after{
    text-align: center;
    display: block;
    margin-top: 2rem;
    margin-bottom: 5rem;

    content: "";
    height: 0.2rem;
    width: 4rem;
    background-color: #22eab8;
}    

footer .social-media p,
footer .social-media small{
    font-size: 1.3rem;
    color: #7d7b92
}

footer .social-media small{
    opacity: 0.4;
}    

footer .media-icon{
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;

    margin: 4rem 0;
    margin-right: 0.5rem;

}

footer .media-icon.select{
    background-color: #4cd3ff;
    box-shadow: 0 0 3.5rem rgba(76,211,255,0.25);
}

footer .media-icon.select img{
    opacity: 1;
}

footer .media-icon img{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    
}

footer .resent-post{
    margin-bottom: 2rem;    
}

footer .resent-post figcaption{
    margin-left: 8rem;
}   

footer .resent-post figcaption p:first-child{
    font-size: 1.4rem;
    font-weight: 300;
}    

footer .resent-post figcaption p:last-child{
    font-size: 1.3rem;
    font-weight: 300;
    color: #7d7b92;
}    

footer .resent-post .img-post{
    display: block;
    width: 6.8rem;
    height: 6.8rem;
    overflow: hidden;
    float: left;
}

footer .contact-info{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    padding-left: 6rem;

    margin-bottom: 1rem;

    background-repeat: no-repeat;
    background-position: 2rem 1.5rem;

    font-size: 1.3rem;
    color: #7d7b92;
    font-weight: 300;
}

footer .contact-info p{
    margin-bottom:0.5rem;
}    

footer .contact-info.phone{
    background-image: url(../images/phone.png);
}    

footer .contact-info.phone p:last-child{
    color: white;
    font-size: 2rem;
}

footer .contact-info.email{
    background-image: url(../images/email.png);
}   

footer .contact-info.email p:last-child{
    color: #fe4565;
}    

footer .contact-info.pin{
    background-image: url(../images/pin.png);
}   

footer .container-fluid {
    margin-top: 7rem;
    background-color: #1f1d36;
    color: white;
}

footer ul{
    list-style-type: none;
    margin:0;
    padding: 4rem 0; 
}
footer ul li{
    text-align: center;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 300;
}   

footer ul li:not(:last-child):after{
    color: #7d7b92;
    content: " ∣ ";
    padding: 0.5rem;
}    

footer ul li a{
    color: #7d7b92;

}

footer ul li a:hover{
    color: white;
    text-decoration: none;
}
    