html{
    font-size: 62.25%;
}

body{
    background-color: #301f37;
    color: lightblue;
}
.overlay{
    background-image: linear-gradient(to right, #09052f, #311d5e);
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.85;
}

#our-benefits figure .benefits-img{
    display:inline-block;
}

#testimonials ul{
    list-style-type: none;
}

#testimonials ul li{
    display: inline-block;
}    

footer ul{
    list-style-type: none;
}
footer ul li{
    display: inline-block;
}   
/*--------------------------
    HEADER
---------------------------*/

/*--------------------------
    EXPRETISE
---------------------------*/

/*--------------------------
    WORKS
---------------------------*/

/*--------------------------
    CONTACT
---------------------------*/

/*--------------------------
    FOOTER
---------------------------*/
